{% if get_flashed_messages(with_categories=True) %}
{% if get_flashed_messages(with_categories=True)[0][0] == 'success' %}
  <div>
    <div class="alert alert-success" role="alert">
      {{ get_flashed_messages(with_categories=True)[0][1] }}
    </div>
  </div>
{% elif get_flashed_messages(with_categories=True)[0][0] == 'warning' %}
  <div>
    <div class="alert alert-primary" role="alert">
      {{ get_flashed_messages(with_categories=True)[0][1] }}
    </div>
  </div>
{% elif get_flashed_messages(with_categories=True)[0][0] == 'error' %}
  <div>
    <div class="alert alert-danger" role="alert">
      {{ get_flashed_messages(with_categories=True)[0][1] }}
    </div>
  </div>
{% endif %}
{% endif %}
