{% extends "base.html" %}
  {% block main %}
    {% if get_flashed_messages(with_categories=True) %}
    {% if get_flashed_messages(with_categories=True)[0][0] == 'success' %}
      <div>
        <div class="alert alert-success" role="alert">
          {{ get_flashed_messages(with_categories=True)[0][1] }}
        </div>
      </div>
    {% elif get_flashed_messages(with_categories=True)[0][0] == 'warning' %}
      <div>
        <div class="alert alert-primary" role="alert">
          {{ get_flashed_messages(with_categories=True)[0][1] }}
        </div>
      </div>
    {% elif get_flashed_messages(with_categories=True)[0][0] == 'error' %}
      <div>
        <div class="alert alert-danger" role="alert">
          {{ get_flashed_messages(with_categories=True)[0][1] }}
        </div>
      </div>
    {% endif %}
    {% endif %}
    <div class="container-lg mt-3">
      <h1>Сайт: {{ site.name }}</h1>

      <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{ site.id }}</td>
            </tr>
            <tr>
              <td>Имя</td>
              <td>{{ site.name }}</td>
            </tr>
            <tr>
              <td>Дата создания</td>
              <td>{{ site.created_at }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2 class="mt-5 mb-3">Проверки</h2>
      <form method="post" action="{{ url_for('urls_checks', id=site.id) }}">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
      </form>
    
      <div>
        <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
          <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
          </tr>
        </thead>
        <tbody>
        {% if checks %}
        {% for check in checks %}
          <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code }}</td>
            <td>{{ check.h1 }}</td>
            <td>{{ check.title }}</td>
            <td>{{ check.description }}</td>
            <td>{{ check.created_at }}</td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
        </table>
      </div>
    </div>
  {% endblock %}
